/*:root{
--rc : red;
--gnc : green;
--sil : silver;
}
.mydiv1 .b1{
display: block;
width: 200px;
height: 200px;
background: var(--gnc);
/*margin-top:50px;
margin-left: 50px;
margin-bottom: 50px;*/

/*topandbottom leftandright*/
margin: 50px 30px;
}

.mydiv1 .b2{
display: block;
width: 200px;
height: 200px;
background: var(--sil);

/*margin-top: 50px;*/

/*topandbottom leftandright*/
/*margin:50px 30px;*/
}


.div1{
width: 200px;
height: 200px;
background:orange;
border:2px solid green;

float:left;

margin-right:20px;
}

.div2{
width: 300px;
height: 300px;
background:red;
border:2px solid green;

float: left;
}

.div3{
width: 400px;
height: 400px;
background:blue;
border:2px solid green;

float: left;


/*top right bottom left*/
/*margin:20px;*/

/*topandbottom leftandright*/
/*margin:50px 20px;*/

/*top right bottom left*/
margin: 10px 20px 30px 40px;


}

.div4{
width: 300px;
height: 500px;
background:silver;
border:2px solid green;

float: left;
}

.div5{
width: 300px;
height: 300px;
background:silver;
border:2px solid green;

clear:both;
/*h v b c*/
box-shadow:10px 10px 5px black;
} 