*{
box-sizing: border-box;
}



body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin:0;
	background: #f9fafb;
}


.container{
	width:400px;
	background:#fff;
	box-shadow: 0 2px  10px rgba(0,0,0,0,3);
border-radius: 5px;

}


.card{
	/*t and b l and r*/
	padding:30px 40px;
}



.card h3,.card h4{
	text-align: center;
	letter-spacing: 2px;
}


.form-control{
	margin-bottom: 10px;

}

.form-control label{
	color:#777;
	display: block;
	margin-bottom: 5px;
}


.form-control input{
	width: 100%;
	padding: 10px;
	border:0;
	border-bottom: 1px solid silver;

}


.form-control input:focus{
	outline: 0;
	border-bottom: 1px solid blue;
}



form button{
	cursor: pointer;
	width: 100%;
padding: 10px;
font-size: 16px;
background:darkblue;
color:white;
border-radius: 4px;
}



.card .card-action{
	background: #f9fafb;
    border-top: 1px dashed silver;
    margin-top: 20px;
    border-bottom: 1px dashed silver;



}

.collection {
list-style-type: none;
padding-left: 0;
}



.collection .collection-item{
display: flex;
justify-content:space-between; 
line-height: 30px;
}

.collection .delete-item{
	color:red;
}



.card .moretask {
	text-align: center;
	margin-top: 20px;
}



.btn{
	text-decoration: none;
	background:darkblue;
	color:white;
	padding:5px;
	
}















